.btn {

    background-color: rgba(80, 241, 115, 0.5);
    color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    border-radius: 2em;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    backdrop-filter: blur(5px);

}

