* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
   
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

h2 {
    font-size: 30px
}


footer li, footer p
{
    font-size: 14px;
}

.title h2 {
    font-size: 30px;
}