



.products section {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 1000px;

    padding: 50px;
    border-radius: 20px;
    background: rgb(202,244,181);
    background: linear-gradient(125deg, rgba(202,244,181,1) 0%, rgba(94,190,97,1) 100%);
    box-shadow: 4px 4px 10px black;

    & .title {
        width: 30%;
        min-width: 200px;
    }
        & h2 {
            margin-top: 0;
        }

    & .cards-list{
        display: flex;
        width: 70%;
        gap: 40px 30px;
        flex-wrap: wrap;


    }

}