header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: white;
}

.logo {
    margin: auto 0 ;
}

nav {
    margin: auto 0 ;
}

.navbar {
    display: flex;
    gap: 80px;
}

.menu-mobile {
    margin: auto 0;
    display: none;

}
